doctype html
html(lang='en')
  head
   title Dev UI
   link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
   link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

  body
    div.container
      h1 Consent logs dev UI
      div.row
        form.col.s12(method="POST", action="/api/")
          div.row
            div.input-field.col.s12
              input(id="browser_id", name="browser_id", type="text")
              label(for="browser_id") Browser ID
            div.input-field.col.s12
              input(id="consent_str", name="consent_str", type="text")
              label(for="consent_str") Consent string
          div.row
            div.col.s12
              button.btn.waves-effect.waves-light(type="submit", name="action") Submit
                i.material-icons.right send

  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
